In [1]:
# Following Geoalchemy2 docs ...
# https://geoalchemy-2.readthedocs.io/en/latest/orm_tutorial.html

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

DATABASE_URI='postgresql://postgres:postgres@localhost:5432/postgres'


engine = create_engine(DATABASE_URI, echo=True)

Base = declarative_base()

/var/folders/wr/pmsgcfqj1q94s8k_nr2yjrrw0000gn/T/ipykernel_84254/430068640.py:12: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [2]:
from sqlalchemy import Boolean, Column, ForeignKey, Integer, String, DateTime
from geoalchemy2 import Geometry

class Peak(Base):
    __tablename__ = 'peak'

    id = Column(Integer, primary_key=True, index=True)
    name = Column(String)
    geom = Column(Geometry('POINT'))


def peak_repr(peak: Peak):
    return f'[{peak.id}] {peak.name}, {peak.geom}'

In [37]:
# Peak.__table__.create(engine)
# Peak.__table__.drop(engine)

In [3]:
peaks = [
    Peak(name='origin', geom='POINT(0 0)'),
    Peak(name='test', geom='POINT(6 2)'),
    Peak(name='Mount Nevermore', geom='POINT(-11.5 55.7)'),   
    Peak(name='Peak of Doom', geom='POINT(30.2 15.6)'),   
    Peak(name='Cloudy Summit', geom='POINT(-90.0 90.0)'),   
    Peak(name='Frosty Peak', geom='POINT(20 0)'),   
    Peak(name='Sunny Slope', geom='POINT(45.0 45.0)')
]

In [4]:
# INSERT

from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

# for peak in peaks:
#     session.add(peak)

session.add_all(peaks)

session.commit()

2023-11-07 09:43:00,345 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-11-07 09:43:00,346 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-07 09:43:00,351 INFO sqlalchemy.engine.Engine select current_schema()
2023-11-07 09:43:00,351 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-07 09:43:00,355 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-11-07 09:43:00,356 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-07 09:43:00,357 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-07 09:43:00,359 INFO sqlalchemy.engine.Engine INSERT INTO peak (name, geom) SELECT p0::VARCHAR, p1::geometry(POINT,-1) FROM (VALUES (%(name__0)s, ST_GeomFromEWKT(%(geom__0)s), 0), (%(name__1)s, ST_GeomFromEWKT(%(geom__1)s), 1), (%(name__2)s, ST_GeomFromEWKT(%(geom__2)s), 2), (%(name__3)s, ST_Geo ... 160 characters truncated ... __6)s), 6)) AS imp_sen(p0, p1, sen_counter) ORDER BY sen_counter RETURNING peak.id, peak.id AS id__1
2023-11-07 09:43:00,360 INFO sqlalchemy.engine.Engine [generated in 0.00010s (insertmanyvalues) 1/1 (ordered)] {'name__0': 'origin', 'geom__0': 'POINT(0 0)', 'name__1': 'test', 'geom__1': 'POINT(6 2)', 'name__2': 'Mount Nevermore', 'geom__2': 'POINT(-11.5 55.7)', 'name__3': 'Peak of Doom', 'geom__3': 'POINT(30.2 15.6)', 'name__4': 'Cloudy Summit', 'geom__4': 'POINT(-90.0 90.0)', 'name__5': 'Frosty Peak', 'geom__5': 'POINT(20 0)', 'name__6': 'Sunny Slope', 'geom__6': 'POINT(45.0 45.0)'}
2023-11-07 09:43:00,447 INFO sqlalchemy.engine.Engine COMMIT

In [5]:
# SELECT

query = session.query(Peak).order_by(Peak.name)

# for peak in query:
#     print(peak.name)

peaks_from_query = session.query(Peak).order_by(Peak.name).all()

print('\n'.join(peak_repr(peak) for peak in peaks_from_query))

2023-11-07 09:43:06,678 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-07 09:43:06,682 INFO sqlalchemy.engine.Engine SELECT peak.id AS peak_id, peak.name AS peak_name, ST_AsEWKB(peak.geom) AS peak_geom
FROM peak ORDER BY peak.name
2023-11-07 09:43:06,683 INFO sqlalchemy.engine.Engine [generated in 0.00084s] {}
[8] Cloudy Summit, 010100000000000000008056c00000000000805640
[9] Frosty Peak, 010100000000000000000034400000000000000000
[6] Mount Nevermore, 010100000000000000000027c09a99999999d94b40
[1] name1, 0101000000b81e85eb51382640c976be9f1ac75b40
[4] origin, 010100000000000000000000000000000000000000
[7] Peak of Doom, 01010000003333333333333e403333333333332f40
[3] string, 010100000000000000000000000000000000000000
[2] string, 010100000000000000000000000000000000000000
[10] Sunny Slope, 010100000000000000008046400000000000804640
[5] test, 010100000000000000000018400000000000000040

In [6]:
# COMPLEX QUERY
from sqlalchemy import func

range_in_meters = 10000000

query = session.query(Peak).filter(
    # func.ST_Distance_Sphere(Peak.geo, 'POINT(0 0)') <= 20
    func.ST_DistanceSphere(Peak.geom, func.ST_MakePoint(0, 0) ) <= range_in_meters
).all()

for peak in query:
    print(peak_repr(peak))

2023-11-07 09:43:11,810 INFO sqlalchemy.engine.Engine SELECT peak.id AS peak_id, peak.name AS peak_name, ST_AsEWKB(peak.geom) AS peak_geom
FROM peak
WHERE ST_DistanceSphere(peak.geom, ST_MakePoint(%(ST_MakePoint_1)s, %(ST_MakePoint_2)s)) <= %(ST_DistanceSphere_1)s
2023-11-07 09:43:11,811 INFO sqlalchemy.engine.Engine [no key 0.00154s] {'ST_MakePoint_1': 0, 'ST_MakePoint_2': 0, 'ST_DistanceSphere_1': 10000000}

[1] name1, 0101000000b81e85eb51382640c976be9f1ac75b40
[2] string, 010100000000000000000000000000000000000000
[3] string, 010100000000000000000000000000000000000000
[4] origin, 010100000000000000000000000000000000000000
[5] test, 010100000000000000000018400000000000000040
[6] Mount Nevermore, 010100000000000000000027c09a99999999d94b40
[7] Peak of Doom, 01010000003333333333333e403333333333332f40
[9] Frosty Peak, 010100000000000000000034400000000000000000
[10] Sunny Slope, 010100000000000000008046400000000000804640

In [7]:
from geoalchemy2.shape import to_shape

query = session.query(
    Peak.name, Peak.id, Peak.geom,
    func.st_y(Peak.geom), 
    func.st_x(Peak.geom),
).filter(

    func.ST_Within(Peak.geom, func.ST_MakeEnvelope(-21, -21, 21, 21))
).all()

for peak in query:
    shp = to_shape(peak.geom)
    print(peak.name, '--', shp.x, shp.y)

2023-11-07 09:43:17,935 INFO sqlalchemy.engine.Engine SELECT peak.name AS peak_name, peak.id AS peak_id, ST_AsEWKB(peak.geom) AS peak_geom, ST_Y(peak.geom) AS "ST_Y_1", ST_X(peak.geom) AS "ST_X_1"
FROM peak
WHERE ST_Within(peak.geom, ST_MakeEnvelope(%(ST_MakeEnvelope_1)s, %(ST_MakeEnvelope_2)s, %(ST_MakeEnvelope_3)s, %(ST_MakeEnvelope_4)s))
2023-11-07 09:43:17,937 INFO sqlalchemy.engine.Engine [no key 0.00169s] {'ST_MakeEnvelope_1': -21, 'ST_MakeEnvelope_2': -21, 'ST_MakeEnvelope_3': 21, 'ST_MakeEnvelope_4': 21}
string -- 0.0 0.0
string -- 0.0 0.0
origin -- 0.0 0.0
test -- 6.0 2.0
Frosty Peak -- 20.0 0.0

In [8]:
db_peak = Peak(name='Sunny Slopeaaaaaaaaaaaaaa', geom='POINT(45.0 45.0)')

session.add(db_peak)
session.commit()

2023-11-07 09:43:26,095 INFO sqlalchemy.engine.Engine INSERT INTO peak (name, geom) VALUES (%(name)s, ST_GeomFromEWKT(%(geom)s)) RETURNING peak.id
2023-11-07 09:43:26,096 INFO sqlalchemy.engine.Engine [generated in 0.00129s] {'name': 'Sunny Slopeaaaaaaaaaaaaaa', 'geom': 'POINT(45.0 45.0)'}
2023-11-07 09:43:26,107 INFO sqlalchemy.engine.Engine COMMIT

In [9]:

session.refresh(db_peak)
db_peak.id

2023-11-07 09:43:30,999 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-07 09:43:31,002 INFO sqlalchemy.engine.Engine SELECT peak.id, peak.name, ST_AsEWKB(peak.geom) AS geom
FROM peak
WHERE peak.id = %(pk_1)s
2023-11-07 09:43:31,003 INFO sqlalchemy.engine.Engine [generated in 0.00103s] {'pk_1': 11}

11

In [10]:
from shapely import wkb
s = '010100000000000000008046400000000000804640'

w = wkb.loads(str(s))
str(w)

'POINT (45 45)'